.footer {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 40px;
  flex: 0 0 auto;
}

.footer__wrapper {
  max-width: $max-width;
  width: 136rem;
  margin: 0 auto;
  background: $color-container;
  border-radius: 40px;
  @include flex($align-items: center, $gap: 100px);

  padding: 100px;

  @media screen and (max-width: $width-desktop) {
    width: $max-wrapper-width;
    flex-direction: column;
    padding: 100px 60px;
  }

  @media screen and (max-width: $width-tablet) {
    padding: 60px 16px;
  }
}

.footer__offer,
.footer__contacts {
  @include flex($direction: column, $gap: 40px);
  width: 53rem;

  @media screen and (max-width: $width-tablet) {
    width: 100%;
  }
}

.footer__buttons {
  @include flex($gap: 12px);
}

.footer__links {
  @include flex($direction: column, $gap: 16px);
}

.footer_link {
  @include flex($align-items: center, $gap: 8px);

  color: $color-text-light;
  font: $font-link-button;
  cursor: pointer;
}
