.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background-color: $color-background;
  z-index: 1;
}

.header__wrapper_full,
.header__wrapper_burger {
  @include flex($align-items: center, $justify-content: space-between);

  padding: $up-right-padding $bottom-left-padding;
  margin: 0 auto;
  max-width: $max-width;

  font: $font-link-button;
  color: $color-text-dark;
}

.header__wrapper_full {
  @media screen and (max-width: $width-tablet) {
    display: none;
  }
}

.header__wrapper_burger {
  @media screen and (min-width: $width-tablet) {
    display: none;
  }

  @media screen and (max-width: $width-tablet) {
    padding: 20px 16px 0 16px;
  }
}

.header__navigation_wrapper {
  @media screen and (max-width: $width-tablet) {
    @include flex($direction: column, $align-items: center, $gap: 100px);
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    height: 100vh;
    background-color: $color-background;

    animation-duration: 1s;
    animation-name: rightIn;
  }
}
@keyframes rightIn {
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}

.header__navigation {
  @include flex($gap: 4rem);

  @media screen and (max-width: $width-tablet) {
    background-color: $color-background;
    padding-top: 60px;

    @include flex($direction: column, $align-items: center, $gap: 60px);
    font: $font-burger-link;
  }
}

.header__button_burger,
.header__button_full {
  @include flex($gap: 8px);
  cursor: pointer;
  align-items: center;

  img {
    padding-bottom: 3px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.header__button_burger {
  @include flex($gap: 16px);
  font: $font-burger-link;
  img {
    width: 40px;
    height: 40px;
  }
}

.header__button_full {
  @media screen and (max-width: $width-tablet) {
    p,
    img {
      display: none;
    }

    background-image: url("../assets/buttons/burger-closed.svg");
    height: 44px;
    width: 44px;

    transition: background-image 1s;

    &.active {
      background-image: url("../assets/buttons/burger-opened.svg");
    }
  }
}
