$color-background: #212121;
$color-container: #2f2f2f;
$color-button-background: #2f2f2f;
$color-border: #9b9b9b;

$color-text-light: #ececec;

$color-text-dark: #403f3d;
$color-text-accent: #b0907a;
$color-border-dark: #665f55;
$color-border-light: #c1b6ad;

$button-border-radius: 100px;

$font-family: "Inter", sans-serif;

$font-link-button: 600 1.6rem/1.5 $font-family;
$font-medium: 400 2rem/1.5 $font-family;
$font-bold-small: 600 1rem/1.4 $font-family;
$font-header1: 600 7.2rem/1.05 $font-family;
$font-header1-mobile: 600 4.2rem/1.15 $font-family;
$font-header2: 600 4rem/1.25 $font-family;
$font-header2-mobile: 600 3.2rem/1.25 $font-family;
$font-header3: 600 2.4rem/1.25 $font-family;
$font-burger-link: 600 3.2rem/1.25 $font-family;

$width-desktop: 1440px;
$width-tablet: 768px;
$width-mobile: 380px;
