.assistant__wrapper {
  max-width: 1440px;
  height: 100vh;
  @include flex(
    $direction: column,
    $justify-content: flex-end,
    $align-items: center
  );
  margin: 0 auto;
}

.assistant__form {
  width: 50%;
  bottom: 50px;
  margin-top: 2rem;
}

.assistant__textarea {
  width: 100%;
  height: 6rem;
  background-color: unset;

  border-radius: 10px;
  border: 2px solid $color-border;
  color: $color-text-light;

  font: $font-medium;
  padding: 10px;

  overflow: hidden;
}

.assistant__dialog {
  width: 50%;
  margin: 0 auto;
  padding: 0 2rem;

  @include flex($direction: column);

  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 3rem;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-text-light;
    border-radius: 5px;
  }
}

